@import "tailwindcss";

#root {
  background-color: rgb(24, 24, 24);
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #1e293b; 
}

::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
